.input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.input .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 270px;
}

.input .label-i {
  color: var(--gray-1000);
  font-family: var(--label-font-family);
  font-size: var(--label-font-size);
  font-style: var(--label-font-style);
  font-weight: var(--label-font-weight);
  letter-spacing: var(--label-letter-spacing);
  line-height: var(--label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input .icon-wrapper {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  height: 40px;
  padding: 8px 12px;
  position: relative;
}

.input .icon-2 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.input .message {
  font-family: var(--caption-font-family);
  font-size: var(--caption-font-size);
  font-style: var(--caption-font-style);
  font-weight: var(--caption-font-weight);
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input .base-input-instance {
  border-color: var(--gray-500) !important;
}

.input .state-state-5 {
  background-color: var(--gray-200);
  border-color: var(--gray-300);
}

.input .state-default {
  background-color: var(--gray-100);
  border-color: var(--gray-300);
}

.input .state-focused {
  background-color: var(--gray-100);
  border-color: var(--gray-300);
}

.input .state-success {
  background-color: var(--gray-100);
  border-color: var(--success-700);
}

.input .state-error {
  background-color: var(--gray-100);
  border-color: #f27289;
}

.input .state-1-state-5 {
  color: var(--error-500);
}

.input .state-1-default {
  color: var(--error-500);
}

.input .state-1-focused {
  color: var(--error-500);
}

.input .state-1-success {
  color: var(--success-700);
}

.input .state-1-error {
  color: var(--error-500);
}

.input .icon-wrapper.state-success .icon-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/d6ae04ed3d2e14380771e32c9e5245e9/img/tick.svg);
  background-size: 100% 100%;
}

.input .icon-wrapper.state-error .icon-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/d6ae04ed3d2e14380771e32c9e5245e9/img/error.svg);
  background-size: 100% 100%;
}