.menu-item {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.menu-item .class-2 {
  color: #000c25 !important;
}

.menu-item .class-3 {
  background-color: #efefef !important;
}

.menu-item .class-4 {
  background-color: unset !important;
}
